customToolbarClassName,
.customEditorClassName {
  border: 2px solid #f9f9f9;
  min-height: 400px;
  padding: 5px;
  border-radius: 15px;
}
.customToolbarClassName {
  border: 2px solid #f9f9f9;
  border-radius: 15px;
}
